.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.custom-heading {
  color: blue;
}
/* .background-image {
  background-image: url('./Home-1.jpg');
  background-size: cover;
  min-width: 100%;
width: auto;
min-height: 100%;
position: absolute;
height: auto;
left: -2px;
} */
.homeBanner {
  min-height: 651px !important;
  overflow: hidden;
}

.homeBanner img {
  min-width: 100%;
  width: auto;
  min-height: 100%;
  position: absolute;
  height: auto;
  left: -2px;
}
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}
.bottomBox, .container .bottomLink {
  position: absolute;
  width: 340px;
  text-align: center;
  font-size: 36px;
  bottom: 140px;
  left: calc(50% - 170px);
  padding: 10px;
  border: 1px solid white;
  line-height: 1;
}
.proximaThin {
  font-family: "proxima-thin";
}

body * {

    font-family: "proxima";

}
*, ::after, ::before {

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}
*, ::before, ::after {

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}
.bottomBox, .container .bottomLink {

    text-align: center;
    color:#978f8f;
    font-size: 36px;
    line-height: 1;

}
.proximaBold {
  font-family: "proxima-bold";
}
.main-header{
  background-color:black;
  font-size: 15px;
line-height: 1.428571429;
position: fixed;
top: 0;
width: 100%;
z-index: 100;
border-bottom: none !important;
}
.logoText {
  color: white !important;
  font-size: 30px;
  font-family: Courier New;
  letter-spacing: 10px;
  padding-top: 15px;
  display: inline-block;
  text-decoration:none !important;
}
.container .bottomLink {
  border: none;
  bottom: 60px;
  font-size: 18px;
}
.bottomBox, .container .bottomLink {
  position: absolute;
  width: 340px;
  text-align: center;
  font-size: 36px;
  bottom: 140px;
  left: calc(50% - 170px);
  padding: 10px;
  border: 1px solid white;
  line-height: 1;
}
.userdetails{
position: absolute;
top: 5;
right: 0;
font-size: 24px;
z-index: 1;
margin-top: 5px !important;
}
.intro .bottomBox {
  bottom: 140px;
}
.intro .bottomLink {
  bottom: 60px;
}
.container .bottomLink {
  border: none;
  bottom: 60px;
  font-size: 18px;
}

.height-md-100 {
  height: 100vh;
  overflow: hidden;
}
@media (min-width: 1025px)
.height-md-100 {
  height: 100vh;
  overflow: hidden;
}

.ms-m-xs {
  margin: 5px !important;
}
.ms-p-relative, .ms-pos-rel {
  position: relative !important;
}